<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>MarkovTweet</title>
  <script src="http://platform.twitter.com/anywhere.js?id={{ KEY }}s&v=1" type="text/javascript"></script>
  <script type="text/javascript"> twttr.anywhere(function (T) { T.hovercards(); }); </script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <link type="text/css" rel="stylesheet" href="stylesheets/main.css" />
{% block code %}{% endblock %}
</head>
<body>
<div><h1><a class="header "href="/">Markov Tweet</a></h1></div>

{% block body %}{% endblock %}

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-247199-7']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body></html>
<!-- vim: ts=2:sts=2:et:sw=2:ft=htmldjango
-->
